<?xml version='1.0' encoding='utf-8'?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.novaeratec.NFCreader"
        version   = "1.2.35">
	<gap:plugin name="cn.push.cordova.plugin.local-notification" version="0.7.8" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
	<gap:plugin name="com.chariotsolutions.nfc.plugin" />
    <name>NfcReader</name>
    <description>
        PhoneGap NFC Reader Demo
    </description>
    <author email="don.coleman@gmail.com" href="http://github.com/don">
        Don Coleman
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <content src="index.html" />    
</widget>
